/* work sans font from google */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300;400;500;600;700;800&display=swap');
*{
    margin:0;
    padding:0;
}
body{
    font-family: 'Work Sans', sans-serif;
}
.section-title{
    font-size: 40px;
    margin-bottom: 20px;
}
.btn-primary{
    border-radius: 8px;
    background: #ff900e;
    color: #ffffff;
    font-size: 1.5rem;
    padding: 20px 25px;
    font-weight: 500;
    margin: 20px 0;
    border: 0;
}
/* header styles */
header{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

nav{
    display: flex;
    justify-content: space-between;
}
nav > ul{
    display: flex;
    gap: 2.8rem;
    align-items: center;
}
nav li{
    list-style: none;
}
nav li a {
    text-decoration: none;
    color: #424242;
}
.nav-title{
    color:#131313;
    font-weight: 700;
    font-size: 2.8rem;
}

/* banner styles */
.banner-content{
    margin: 30px auto;
    max-width: 800px;
    text-align: center;
}
.banner-section img{
    width: 100%;
}


/* Features Styles */
main{
    max-width: 70%;
    margin: 0px auto;
}
.features{
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    margin: 70px 0;
}
.features-box{
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(2, 1fr);
}
.features-box img{
    border-radius: 8px;
}

.features-content{
   margin: 0 80px;
}

/* Facts styles */
.facts{
    margin: 80px 0;
}
.facts > p{
    width: 50%;
    margin-bottom: 80px;
}
.facts-card{
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}
.card{
    border-radius: 5px;
    border: 1px solid #ff900e;
    padding: 30px;
    width: 150px;
    text-align: center;
}
.card h2{
    font-size: 40px;
    margin: 10px 0;
}


/* Sponsports styles */
.sponspors{
    text-align: center;
    padding: 80px 0px;
}

.sponsports-logo{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}
/* footer styles */
footer{
    width: 70%;
    margin: auto;
    padding: 40px 0;
    border-radius: 8px;
    background: #FFF4E7;
    text-align: center;
}
/* Responsive Styles */
/* Mobile Devices */
@media screen and (max-width:576px) {
    header{
        padding: 30px 50px;
    }
    nav,
    .features
    {
        flex-direction: column;
    }
    .nav-title{
        font-size: 1.5rem;
        text-align: center;
        margin: 5px;
    }
    nav > ul{
        padding: 0px;
    }
    .features-content{
        margin: 0 10px;
     }
     .features{
        gap: 50px
     }
     .features-box{
        gap: 24px;
        grid-template-columns: 1fr;
    }
    .facts-card{
        flex-direction: column;
        gap: 25px;
        justify-content: center;
    
    }
    .sponsports-logo{
        flex-direction: column;
        gap: 30px;
        width: 70%;
        margin: auto;
        margin-top: 33px;
    }
    .sponspors{
        padding-top: 10px;
    }
    .facts > p {
        width: 80%;
        margin-bottom: 80px;
    }
    .card{
        width: 80%;
    }
}


/* Tablet or Medium Devices */
@media screen and (min-width:577px) and (max-width:960px) {
    header{
        padding: 15px 50px;
    }
    .nav-title{
        text-align: center;
        margin: 5px;
    }
    nav,
    .features
    {
        flex-direction: column;
    }
    nav > ul{
        justify-content: center;
        padding: 0px;
    }
    .features-content{
        margin: 20px 25px;
        text-align: center;
     }
     .features-box{
        margin: 50px;
     }

     .sponsports-logo{
        flex-direction: column;
        gap: 30px;
        width: 70%;
        margin: auto;
        margin-top: 33px;
    }
    .facts-card{
        flex-direction: column;
        gap: 25px;
        justify-content: center;
    
    }
    .facts > p {
        width: 85%;
    }
    .card{
        width: 80%;
    }
}
